# Read Excel and Import Pandas

In [2]:
#import all python essential tool
import pandas as pd
df = pd.read_excel (r'raw_fes_2020.xlsx')

### Set Up the FES Outlook - And Choose the DSO Liscence Location

In [3]:
#choose the scenario - ST = System Transform Scenario (Base Case)
ST = df[df['scenario'] == 'ST']
#ID of the location, see FES Location Excel File
GSP = ST[ST['GSP'] == 'BRWA1']

 #we are extracting the column for average demand peak for each year of each demand type 
C = GSP[GSP['type'] == 'C']['avg_demand_peak']
D = GSP[GSP['type'] == 'D']['avg_demand_peak']
E = GSP[GSP['type'] == 'E']['avg_demand_peak']
H = GSP[GSP['type'] == 'H']['avg_demand_peak']
I = GSP[GSP['type'] == 'I']['avg_demand_peak']
R = GSP[GSP['type'] == 'R']['avg_demand_peak']
Z = GSP[GSP['type'] == 'Z']['avg_demand_peak']

In [7]:
C

96416    54.131667
96417    54.055333
96418    53.846000
96419    53.539667
96420    53.194333
96421    52.824333
96422    52.403000
96423    51.951333
96424    51.493333
96425    51.056000
96426    50.577000
96427    50.163333
96428    49.938333
96429    49.721000
96430    49.531000
96431    49.320667
96432    49.073333
96433    48.873333
96434    48.690333
96435    48.484000
96436    48.247333
96437    48.072667
96438    47.990333
96439    47.928667
96440    47.861333
96441    47.776333
96442    47.687667
96443    47.569333
96444    47.439333
96445    47.280667
96446    47.077000
96447    46.894333
Name: avg_demand_peak, dtype: float64

### Create a Data Frame for Putting All Relevant Data into An Excel File

In [4]:
new_df = pd.DataFrame()
for element in range(len(C)):
    CD = C.iloc[element]
    DD = D.iloc[element]
    ED = E.iloc[element]
    HD = H.iloc[element]
    ID = I.iloc[element]
    RD = R.iloc[element]
    ZD = Z.iloc[element]
    
    row = {'Commercial' : CD, 'District_Heating' : DD, 'Electric_Vehicle' : ED, 'Heating' : HD, \
          'Industrial' : ID, 'Residential' : RD, 'Electrolyzer' : ZD}
    new_df = new_df.append(row, ignore_index = True)
    
new_df['Total'] = new_df['Commercial'] + new_df['District_Heating'] + new_df['Electric_Vehicle'] + new_df['Electrolyzer'] + \
new_df['Heating'] + new_df['Industrial'] + new_df['Residential']

#name the excel file to be exported
#new_df.to_csv('node_29_BRWA1_demand.csv')

In [5]:
new_df

,Commercial,District_Heating,Electric_Vehicle,Electrolyzer,Heating,Industrial,Residential,Total
0,54.131667,0.045000,0.000000,0.000000,0.452000,51.387333,51.392000,157.408000
1,54.055333,0.052667,0.000000,0.051333,0.582667,51.001333,50.066000,155.809333
2,53.846000,0.060000,0.207667,0.051333,0.655667,50.737667,48.123667,153.682000
3,53.539667,0.068333,0.452667,0.051333,0.768667,50.309333,46.597333,151.787333
4,53.194333,0.078000,0.868667,0.103000,0.897333,50.085000,45.625000,150.851333
5,52.824333,0.090333,1.444333,0.154333,1.035333,49.746667,44.826667,150.122000
6,52.403000,0.100667,2.219333,0.205667,1.280667,49.384000,44.273667,149.867000
7,51.951333,0.115667,3.238667,0.257000,1.526333,48.972000,44.202333,150.263333
8,51.493333,0.132667,4.536667,0.360000,1.820000,48.543000,44.265667,151.151333
9,51.056000,0.149667,6.163667,0.463000,2.085000,48.107667,44.352000,152.377000
10,50.577000,0.178000,8.154667,0.617000,2.368333,47.663667,44.431000,153.989667
11,50.163333,0.194667,10.533333,1.182667,2.631000,47.458667,44.484000,156.647667
12,49.938333,0.212667,13.630000,1.542667,2.864667,47.328333,44.615000,160.131667
13,49.721000,0.231333,16.587667,1.954000,3.260000,47.255667,44.804333,163.814000
14,49.531000,0.256000,19.980000,2.468000,3.600000,47.207667,44.937000,167.979667
15,49.320667,0.281333,23.754333,3.085333,3.900000,47.241667,44.928667,172.512000
16,49.073333,0.311333,27.504000,3.856667,4.379000,47.279667,45.000000,177.404000
17,48.873333,0.344000,31.437667,4.731000,4.794667,47.432667,44.963000,182.576333
18,48.690333,0.379000,35.316000,5.810667,5.318000,47.715333,44.898000,188.127333
19,48.484000,0.417000,38.840667,7.147667,5.668667,47.937667,44.838000,193.333667
20,48.247333,0.458333,41.884000,8.793000,6.004000,48.167667,44.749000,198.303333
21,48.072667,0.508000,44.414000,10.747000,6.283333,48.594667,44.458333,203.078000
22,47.990333,0.562333,46.413333,13.112333,6.903333,49.042667,44.542000,208.566333
23,47.928667,0.630667,47.960667,15.838000,8.091000,49.739667,44.890667,215.079333
24,47.861333,0.706000,49.070333,18.871667,8.756667,50.420000,44.880333,220.566333
25,47.776333,0.767667,49.396333,22.162667,9.088333,51.155000,44.497000,224.843333
26,47.687667,0.833000,49.638667,25.608000,9.714000,51.862667,44.219000,229.563000
27,47.569333,0.900333,49.698000,29.104333,10.672000,52.435667,44.356667,234.736333
28,47.439333,0.972333,49.668333,32.652667,11.435667,53.037000,44.419000,239.624333
29,47.280667,1.046000,49.731333,35.429333,11.732000,53.514667,44.279000,243.013000
30,47.077000,1.121667,49.535000,36.200667,11.792333,53.831333,44.092667,243.650667
31,46.894333,1.204000,49.294667,36.046333,12.148667,54.081333,44.100667,243.770000